


.banner {
    background-image:url("../../../assets/img/image-banner.png");
    width: 80vw;
    height: 18vh;
    margin-top: 0;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  
}